@use "mixins.scss";
.dijitTooltipContainer {
  --increased-scale: calc(var(--scale) * 1.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .card {
    position: relative;
  }
  .id-card {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    .total-score,
    .total-money {
      display: flex;
      font-size: xxx-large;
      align-items: baseline;
      justify-content: flex-end;
      margin-top: -0.6em;
      &::after {
        content: "";
        display: block;
        width: 1em;
        height: 1em;
        background-image: url(img/points.png);
      }
    }
    .total-score::after {
      background-position: 57.5% 44%;
      background-size: 600% 300%;
    }
    .total-money::after {
      background-image: url(img/points.png);
      background-position: 92.5% 96%;
      background-size: 500%;
    }
    .rules {
      max-width: 300px;
    }
    .name {
      font-size: 1.2em;
      font-weight: bold;
    }
    .score-details,
    .explanations {
      font-size: 0.8em;
      margin-left: mixins.addScale(20);
    }
    box-sizing: border-box;
    padding: mixins.addScale(10);
  }
}
