@use "variables.scss" as var;

#LSU_turnCounter {
  position: absolute;
  float: left;
  border: 2px solid black;
  font-size: 75%;
  padding: 0 15px;
  border-radius: 3px;
  font-family: var.$main-font, "roboto";
}
