@font-face {
  font-family: "Chaloops-Bold";
  src: url("img/Chaloops-Bold.ttf");
}
@font-face {
  font-family: "Chaloops-Regular";
  src: url("img/Chaloops-Regular.ttf");
}
@font-face {
  font-family: "Chaloops-Medium";
  src: url("img/Chaloops-Medium.ttf");
}

$main-font: "Chaloops-Medium", "roboto";
$title-font: "Chaloops-Bold", "roboto";
$secondary-font: "roboto";
$default-font: "roboto";
$primary-color: #926a6a;
$secondary-color: #ffffff;

// $board-display-size: 600px;
$card-ratio: calc(300 / 462);
$card-width: 300;
$card-height: 419;

$imageList: (
  1: 22,
  2: 23,
  3: 29,
  4: 35,
  5: 24,
  6: 30,
  7: 36,
  8: 25,
  9: 31,
  10: 37,
  11: 26,
  12: 32,
  13: 38,
  14: 27,
  15: 33,
  16: 39,
  17: 28,
  18: 34,
  19: 40,
  20: 41,
  21: 2,
  22: 4,
  23: 6,
  24: 8,
  25: 10,
  26: 12,
  27: 3,
  28: 5,
  29: 7,
  30: 9,
  31: 11,
  32: 13,
  33: 14,
  34: 15,
  35: 16,
  36: 17,
  37: 18,
  38: 19,
  39: 21,
  40: 1,
  41: 44,
  42: 45,
  43: 46,
  44: 47,
);
