/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * LittleSucculents implementation : © Emmanuel Albisser <emmanuel.albisser@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * littlesucculents.css
 *
 * LittleSucculents stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (littlesucculents_littlesucculents.tpl), and to HTML elements you create dynamically
    (in littlesucculents.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */
@use 'imports/safeMode.scss';

$board-display-size: 600px;
$card-ratio: calc(300 / 420);
$card-on-hand-width: 100px;
$card-on-table-width: 75px;
$main-font: "roboto";

%shadow {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  // -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
  // -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
  // -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
  // box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
  // filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

%rounded_corner {
  border-radius: 5%;
}

#card_choice {
  @extend %shadow;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  transform: translateX(-200%);
  transition: transform cubic-bezier(0.56, 0.29, 0.75, 1.11) 600ms;
  z-index: 100;
  background-color: #f5deb3a1;

  &.opened {
    // due to padding inside page-title
    transform: translateX(-5px);
  }
}

.card.choice {
  cursor: pointer;
}

#card_choice_hint_card {
  width: $card-on-hand-width;
  height: calc($card-on-hand-width / $card-ratio);
  margin: 5px;
}

// not used, hidden used instead
// .uncallable {
//     filter: grayscale(100%);
//   &::after {
//     @extend %rounded_corner;
//     background-color: rgba(15, 15, 15, 0.25);
//     content: "";
//     display: block;
//     width: 100%;
//     height: 100%;
//   }
// }

#caller {
  @extend %shadow;
  background-image: url(img/caller.png);
  width: 75px;
  height: 50px;
  margin-left: auto;
  background-size: 100%;
  display: inline-block;
}

[id^="table_"] {
  display: flex;
  flex-wrap: wrap;
}

.board_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_table {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

[id^="play_area_"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  flex: 1;
}

[id^="hand_"] {
  display: flex;
  max-width: 520px;
  margin-bottom: 15px;
}

.board,
#main_board {
  width: $board-display-size;
  height: $board-display-size;
}

#main_board {
  position: relative;
  background-size: 100%;
  background-image: url("img/main.png");

  margin-right: auto;
  margin-left: auto;

  & .score {
    display: block;
    position: absolute;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  & .reward {
    display: block;
    position: absolute;
    background-image: url("img/rewards.png");
    background-size: 1100%;
    width: 4%;
    height: 4%;

    &[data-value="0"] {
      display: none;
    }

    &[data-value="1"] {
      background-position-x: 0%;
      background-position-y: 0%;
    }
    &[data-value="2"] {
      background-position-x: 10%;
      background-position-y: 0%;
    }
    &[data-value="3"] {
      background-position-x: 20%;
      background-position-y: 0%;
    }
    &[data-value="4"] {
      background-position-x: 30%;
      background-position-y: 0%;
    }
    &[data-value="5"] {
      background-position-x: 40%;
      background-position-y: 0%;
    }
    &[data-value="6"] {
      background-position-x: 50%;
      background-position-y: 0%;
    }
    &[data-value="7"] {
      background-position-x: 60%;
      background-position-y: 0%;
    }
    &[data-value="8"] {
      background-position-x: 70%;
      background-position-y: 0%;
    }
    &[data-value="9"] {
      background-position-x: 80%;
      background-position-y: 0%;
    }
    &[data-value="10"] {
      background-position-x: 90%;
      background-position-y: 0%;
    }
    &[data-value="15"] {
      background-position-x: 100%;
      background-position-y: 0%;
    }
  }
}

.board {
  position: relative;
  background-size: 200%;
  background-image: url("img/boards.png");
  &[data-type="4"] {
    background-position-x: 100%;
    background-position-y: 100%;
  }
  &[data-type="1"] {
    background-position-x: 0%;
    background-position-y: 0%;
  }
  &[data-type="2"] {
    background-position-x: 0%;
    background-position-y: 100%;
  }
  &[data-type="3"] {
    background-position-x: 100%;
    background-position-y: 0%;
  }

  & .name {
    position: relative;
    top: 82%;
    left: 9%;
  }
}

[id^="board"] > .cell {
  position: absolute;
  width: 5%;
  height: 5%;
  background-size: cover;
  background-image: url(img/ticks.png);
  background-position-x: 0%;

  &.ticked {
    background-position-x: 33%;
  }
  &.selectable {
    background-position-x: 66%;
  }
  &.clicked {
    background-position-x: 100%;
  }
}

#main_board > .cell {
  position: absolute;
  width: 5%;
  height: 5%;
  background-size: cover;
  background-image: url(img/ticks.png);
  background-position-x: 0%;
  &.clicked {
    background-position-x: 100%;
  }
  &.selectable {
    background-position-x: 66%;
  }

  &.ticked {
    background-position-x: 33%;
  }

  &.array {
    width: 4%;
    height: 3%;
    background-size: 400%;
  }
}

.cell.selectable {
  cursor: pointer;

  animation: flashing 2s infinite;
}

@keyframes slideKeyframes {
  0%,
  80% {
    transform: translate(-33%, 33%);
    opacity: 0;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    transform: translate(33%, -33%);
    opacity: 0;
  }
}

@keyframes flashing {
  0%,
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.deck {
  position: relative;
  &.card {
    @extend %card_on_table;
  }
}

.card {
  @extend %rounded_corner;
  width: $card-on-hand-width;
  height: calc($card-on-hand-width / $card-ratio);
  background-image: url("img/allcards.png");
  background-size: 300%;
  background-position-y: 100%;
  background-position-x: 100%;
  // transition: all 500ms ease-in-out;

  margin: 5px;

  &[data-card-value="1"] {
    background-position-x: 0%;
  }
  &[data-card-value="2"] {
    background-position-x: 50%;
  }
  &[data-card-value="3"] {
    background-position-x: 100%;
  }
  &[data-card-color="green"] {
    background-position-y: 0%;
  }
  &[data-card-color="red"] {
    background-position-y: calc(100 / 6 * 1%);
  }
  &[data-card-color="blue"] {
    background-position-y: calc(100 / 6 * 2%);
  }
  &[data-card-color="yellow"] {
    background-position-y: calc(100 / 6 * 3%);
  }
  &[data-card-color="purple"] {
    background-position-y: calc(100 / 6 * 4%);
  }
  &[data-card-color="grey"] {
    background-position-y: calc(100 / 6 * 5%);
  }
  &.superCard {
    width: calc($card-on-hand-width * 2);
    height: calc($card-on-hand-width * 2 / $card-ratio);
  }
}

#discard > .card {
  margin: 0;
  position: absolute;
  @extend %card_on_table;
}

.animate-on-transforms {
  transition: all 500ms ease-in-out;
}

.flipped {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
}

.flip-container {
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

%card_on_table {
  width: $card-on-table-width;
  height: calc($card-on-table-width / $card-ratio);
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  -o-box-shadow: 0;
  box-shadow: 0;
  filter: none;
}

[id^="cards"] {
  flex: 1;
  min-width: 500px;
  min-height: 160px;
  display: flex;

  .card_column {
    display: flex;
    flex-direction: column;
    & .card {
      margin-bottom: -100%;
      @extend .card;
      @extend %card_on_table;
    }
  }
}

[id^="hand"] > .card {
  @extend %shadow;
  // margin-right: -35px;
  border: 1px saddlebrown solid;
}

// [id^='cards'] > .card {
//     @extend .card;
//     width: $card-on-table-width;
//     height: calc($card-on-table-width / $card-ratio);
//     -moz-box-shadow: 0;
//     -webkit-box-shadow: 0;
//     -o-box-shadow: 0;
//     box-shadow: 0;
//     filter: none;
// }

.card.selectable,
.selectable > .card {
  border: blue 2px solid;
  cursor: pointer;
  &.selected {
    border: red 2px solid;
  }
  // animation: borderBlink 2s step-end infinite;
}

// @keyframes borderBlink {
//   0%, 40% {
//     border-color: blue;
//   }
//   15% {
//     border-color: transparent;
//   }
//   100% {
//     border-color: blue;
//   }
// }

.card.active {
  border: green 2px solid;
}

.bgaimagebutton {
  background-color: #4871b6;
  background-image: url(img/actions.png);
  padding: 0px 12px;
  background-size: 200%;
  min-width: 50px;
  min-height: 28px;

  &.takeCards {
    background-position: 100% 8%;
  }
  &.payCards {
    background-position: 100% 95%;
  }
  &.payNuggets {
    background-position: 0% 95%;
  }
  &.inactive {
    filter: grayscale(100%);
  }
}

.color {
  background-image: url(img/colors.png);
  height: 2em;
  background-size: cover;
  display: inline-block;
  width: 2em;
  position: relative;
  top: 0.5em;
  margin-top: -0.7em;

  &.color-blue {
    background-position: 0%;
  }
  &.color-red {
    background-position: 20%;
  }
  &.color-grey {
    background-position: 40%;
  }
  &.color-purple {
    background-position: 60%;
  }
  &.color-yellow {
    background-position: 80%;
  }
  &.color-green {
    background-position: 100%;
  }
}

.value {
  background-image: url(img/values.png);
  height: 2em;
  background-size: cover;
  display: inline-block;
  width: 1.5em;
  position: relative;
  top: 0.5em;

  margin-top: -0.7em;
  margin-right: -0.2em;

  &.value-1 {
    background-position: 0%;
  }
  &.value-2 {
    background-position: 50%;
  }
  &.value-3 {
    background-position: 100%;
  }
}

/*
   █████████                                          ███          
  ███░░░░░███                                        ░░░           
 ███     ░░░   ██████  ████████    ██████  ████████  ████   ██████ 
░███          ███░░███░░███░░███  ███░░███░░███░░███░░███  ███░░███
░███    █████░███████  ░███ ░███ ░███████  ░███ ░░░  ░███ ░███ ░░░ 
░░███  ░░███ ░███░░░   ░███ ░███ ░███░░░   ░███      ░███ ░███  ███
 ░░█████████ ░░██████  ████ █████░░██████  █████     █████░░██████ 
  ░░░░░░░░░   ░░░░░░  ░░░░ ░░░░░  ░░░░░░  ░░░░░     ░░░░░  ░░░░░░  
                                                                  
*/


.id_number {
  display: none;
}

#ebd-body.debug {
  & .card:hover .id_number {
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 700;
    background-color: #fff;
    display: block;
    &::before {
      content: "ID:";
    }
  }
}

#LSU_caution {
  -webkit-transition: max-height 0.5s, padding 0.5s;
  -moz-transition: max-height 0.5s, padding 0.5s;
  -ms-transition: max-height 0.5s, padding 0.5s;
  -o-transition: max-height 0.5s, padding 0.5s;
  transition: max-height 0.5s, padding 0.5s;
  &:empty {
    max-height: 0;
    padding: 0;
  }

  &:not(:empty)::before {
    content: "\2716";
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
  }
  max-height: 30px;
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-weight: 600;
  text-align: center;
}

//for displaying idNumber in debug mode
.id_number {
  display: none;
}

#game_play_area.debug {
  & .card:hover .id_number {
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    background-color: #fff;
    display: block;
    &::before {
      content: "ID:";
    }
  }
}

//empty deck
.empty {
  filter: grayscale(100%);
  &::before {
    background-color: rgba(241, 240, 240, 0.25);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
}


.player-infos {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5px;
  justify-content: flex-start;

  .counter {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    font-family: $main-font;
    margin-right: 0.5em;

    &:before {
      background: url("img/icons.png");
      content: "";
      display: block;
      background-size: cover;
      width: 30px;
      height: 30px;
      float: left;
    }
  }
}

.rewards-counter:after {
  background: url(img/icons.png);
  content: "";
  display: inline-block;
  background-size: cover;
  width: 20px;
  height: 20px;
  top: 4px;
  position: relative;
  background-position: 100%;
}

.deckinfo {
  background: #fff;
  border: 2px solid rgb(80, 57, 9);
  border-radius: 50%;
  color: rgb(80, 57, 9);
  overflow: visible;
  padding: 1px 2px 0px 1px;
  position: absolute;
  text-align: center;
  bottom: 4%;
  left: 2%;
  z-index: 99;
}
//                                         ████
//                                        ░░███
//  ██████  █████ █████  ██████  ████████  ░███   ██████   █████ ████
// ███░░███░░███ ░░███  ███░░███░░███░░███ ░███  ░░░░░███ ░░███ ░███
//░███ ░███ ░███  ░███ ░███████  ░███ ░░░  ░███   ███████  ░███ ░███
//░███ ░███ ░░███ ███  ░███░░░   ░███      ░███  ███░░███  ░███ ░███
//░░██████   ░░█████   ░░██████  █████     █████░░████████ ░░███████
// ░░░░░░     ░░░░░     ░░░░░░  ░░░░░     ░░░░░  ░░░░░░░░   ░░░░░███
//                                                          ███ ░███
//                                                         ░░██████
//                                                          ░░░░░░

#card-overlay {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 4000;
  pointer-events: none;
  transition: opacity 600ms;
  display: flex;
  align-items: center;
  justify-content: center;

  & .card {
    width: calc(var(--card-width) * 1.5);
    height: calc(var(--card-width) / $card-ratio * 1.5);
  }
}

#card-overlay.active {
  opacity: 1;
  pointer-events: none;
}